body {
	background-color: rgb(249,249,249);
	font-family: 'Poppins', sans-serif;
	color: #2d2e32;
	overflow-x: hidden;
	max-width: 100vw;
}

.container {
	margin: 0 auto;
	max-width: 70rem;
	padding: 0 20px;
}

/* Animation */
@keyframes floating {
  0% { transform: translate(0,  0px); }
  50% { transform: translate(0, 15px); }
  100% { transform: translate(0, -0px); }    
}

/* Effect classes */
.hover:hover {
	color: #147efb;
}

.skills img:hover {
	transform: translateY(-1rem);
}

#footer li:hover {
	transform: scale(1.2);
}

.nav-li {
	cursor: pointer;
	transition: all .23s;
}

.order {
	flex-direction: row-reverse !important;
}

/* Reponsive */
@media (max-width: 900px) {
	.container {
		max-width: 100%;
	}

	.project {
		flex-direction: column !important;
	}

	.project h4 {
		margin-top: 2rem;
	}

	#about {
		height: 100vh !important;
		overflow-x: hidden !important;
	}

	.about-section {
		flex-direction: column;
		gap: 0;
		text-align: center;
	}

	.about-section img {
		margin: 30px 0;
	}

	#contact ul {
		flex-direction: column;
	}
	
	#home {
		padding-top: 100px;
		align-items: center;
		text-align: center;
		margin-bottom: 100px;
	}

	.profile {
		flex-direction: column;
	}

	.floating {
		margin: 0 auto;
	}

	.content {
		width: 100% !important;
	}

	.content ul {
		justify-content: center;
	}
}
