body {
	background-color: rgb(249,249,249);
	font-family: 'Poppins', sans-serif;
	color: #2d2e32;
	overflow-x: hidden;
	max-width: 100vw;
}

.container {
	margin: 0 auto;
	max-width: 70rem;
	padding: 0 20px;
	overflow: hidden;
}

/* Animation */
@keyframes floating {
  0% { transform: translate(0,  0px); }
  50% { transform: translate(0, 15px); }
  100% { transform: translate(0, -0px); }    
}

/* Effect classes */
.hover:hover {
	color: #147efb;
}

.skills img:hover {
	transform: translateY(-1rem);
}

#footer li:hover {
	transform: scale(1.2);
}

.nav-li {
	cursor: pointer;
	transition: all .23s;
}

.order {
	flex-direction: row-reverse !important;
}

/* Reponsive */
@media (max-width: 900px) {
	.container {
		max-width: 100%;
	}

	.project, .profile, #contact ul {
		flex-direction: column !important;
	}

	.project h4 {
		margin-top: 2rem;
	}

	#about {
		overflow-x: hidden !important;
	}

	.about-section {
		flex-direction: column;
		gap: 0;
		text-align: center;
	}

	.about-section img {
		width: 100% !important;
		height: 85% !important;
	}
	
	#home {
		padding-top: 3rem;
		align-items: center;
		text-align: center;
		margin-bottom: 100px;
		height: auto !important;
	}

	.floating {
		margin: 0 auto;
	}

	.content {
		width: 100% !important;
		padding: 1px;
	}

	.content p {
		margin: 10px !important;
	}

	.content ul {
		justify-content: center;
	}

	nav ul {
		display: none !important;
	}

	.stack {
		flex-direction: column;
		align-items: center;
	}

	.stack h4 {
		border: none !important;
		margin: 1rem 0 !important;
	}
}
